%generic_txt {
  font-family: styles.$primary-font;
  font-style: normal;
  color: styles.$primary-color;
}
//Title and main part
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 25px;
  &_flex {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &_grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(6, 50px);
  }
}
.details_flex_title {
  @extend%generic_txt;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  width: 495px;
  height: 130px;
}
.details_flex_text {
  @extend%generic_txt;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  @include opacity(0.6, normal);
}
.details_text_container {
  width: 635px;
  height: 222px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.border_bottom {
  @include border(1px, solid, #d8d8d8);
}
.grid_size {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
}
.dtls_grid_light {
  @extend%generic_txt;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  @include opacity(0.5, normal);
}
.dtls_grid_dark {
  @extend%generic_txt;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
//Images
.details_img_1 {
  width: 1305px;
  height: 705px;
  padding: 20px;
}

.imgs_container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  margin-bottom: 50px;
}
.art_img_text {
  grid-column: 1 / 4;
  grid-row: 1/ 2;
  @extend%generic_txt;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  @include opacity(0.8, normal);
}
.art_img_2 {
  justify-self: center;
}
.art_img_3 {
  justify-self: end;
}
