.nav {
  padding: 20px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  &_subcontainer {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
.logo {
  width: 90px;
  height: 20px;
}

%nav__link_style {
  font-family: styles.$primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
  color: styles.$primary-color;
  text-decoration: none;
}

.nav_link:link,
.nav_link:visited {
  @extend %nav__link_style;
  padding: 20px;
  transition: 0.2s;
}
.nav_link:hover,
.nav_link:active {
  color: #4a4ff2;
  text-shadow: 2px 2px 4px #0f103044;
}
//Footer
.footer_container {
  column-gap: 75px;
}
.logo_container {
  display: flex;
  column-gap: 20px;
}
